[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "==1.24.17"
motor = "==3.0.0"
pydantic = "==1.9.1"

[dev-packages]
black = "*"
pytest = "*"
ipython = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
